In [4]:
import pandas as pd

# Read each sheet of the Excel file into separate DataFrames
excel_file = "resources\merged_file.xlsx"
sheet_names = pd.ExcelFile(excel_file).sheet_names

dfs = {}  # Dictionary to store DataFrames
for sheet_name in sheet_names:
    dfs[sheet_name] = pd.read_excel(excel_file, sheet_name=sheet_name)

In [5]:
# Get the column names of the first DataFrame
unified_column_names = ["ASX Code", "Security Group Code", "Issuer Full Name", "Product Description", "Last Price($)", "Business Date"]

# Rename the DataFrames in dfs with the unified column names 
for sheet_name, df in dfs.items():
    df.columns = unified_column_names
   
# Iterate over each DataFrame in the dictionary
for name, df in dfs.items():
    # Extract the last four letters of the DataFrame name
    year_value = name[-4:]
    # Fill the "Year" column with the extracted value
    df['Year'] = year_value

In [6]:
# Concatenate the data frames vertically
combined_df = pd.concat(dfs, ignore_index=True)

In [7]:
# trim the ASX Code data
combined_df['ASX Code'] = combined_df['ASX Code'].str.strip()

In [8]:
combined_df['ASX Code'].count()

53369

In [9]:
# delete all the records that are not Equity 
combined_df = combined_df[combined_df['Security Group Code'] == 'EQY']

combined_df['ASX Code'].count()

20812

In [10]:
# delete all the records that are not Equity 
combined_df = combined_df[combined_df['Last Price($)'] != '-']
combined_df['ASX Code'].count()

20473

In [11]:
combined_df.to_csv("resources\combined_data.csv", index = False)

In [12]:
#Set the path for CSV files
combined_data_path = "resources\combined_data.csv"
industries_path = "resources\industries.csv"

In [13]:
#Read the CSV files
combined_data_df = pd.read_csv(combined_data_path)
industries_df = pd.read_csv(industries_path)

In [14]:
#Merging combined data CSV and industries CSV files adding the Sub Industry column
merged_df = combined_data_df.merge(industries_df, on=['ASX Code'], how='left')
merged_df

,ASX Code,Security Group Code,Issuer Full Name,Product Description,Last Price($),Business Date,Year,Company Name,Sub-Industry
0,1AD,EQY,ADALTA LIMITED ...,ORDINARY,0.280,20170630,2017,Adalta Limited Ordinary,Biotechnology & Medical Research
1,1AG,EQY,ALTERRA LIMITED ...,ORDINARY,0.024,20170630,2017,Alterra Limited Ordinary,Environmental Services & Equipment
2,1AL,EQY,ONEALL INTERNATIONAL LIMITED ...,ORDINARY,0.910,20170630,2017,NaN,NaN
3,1PG,EQY,1-PAGE LIMITED ...,ORDINARY,0.165,20170308,2017,NaN,NaN
4,1ST,EQY,1ST GROUP LIMITED ...,ORDINARY,0.026,20170628,2017,NaN,NaN
...,...,...,...,...,...,...,...,...,...
20512,ZUSD,EQY,ANZ ETFS PHYSICAL US DOLLAR ETF ...,ETF UNITS,10.290,20160630,2016,NaN,NaN
20513,ZYAU,EQY,ANZ ETFS S&P/ASX 300 HIGH YIELD PLUS ETF ...,ETF UNITS,9.590,20160629,2016,Global X S&P/ASX 200 High Dividend ETF,NaN
20514,ZYB,EQY,ZYBER HOLDINGS LTD ...,ORDINARY,0.017,20160630,2016,NaN,NaN
20515,ZYL,EQY,ZYL LIMITED ...,ORDINARY,0.007,20130927,2016,NaN,NaN
20516,ZYUS,EQY,ANZ ETFS S&P 500 HIGH YIELD LOW VOLATILITY ETF...,ETF UNITS,12.100,20160630,2016,Global X S&P 500 High Yield Low Volatility ETF,NaN

In [15]:
#Saving the final file as a CSV
merged_df.to_csv('resources\merged_industries.csv', index=False)