In [2]:
import pandas as pd

# Read each sheet of the Excel file into separate DataFrames
excel_file = "resources\merged_file.xlsx"
sheet_names = pd.ExcelFile(excel_file).sheet_names

dfs = {}  # Dictionary to store DataFrames
for sheet_name in sheet_names:
    dfs[sheet_name] = pd.read_excel(excel_file, sheet_name=sheet_name)

In [3]:
# Get the column names of the first DataFrame
unified_column_names = ["ASX Code", "Security Group Code", "Issuer Full Name", "Product Description", "Last Price($)", "Business Date"]

# Rename the DataFrames in dfs with the unified column names 
for sheet_name, df in dfs.items():
    df.columns = unified_column_names
   
# Iterate over each DataFrame in the dictionary
for name, df in dfs.items():
    # Extract the last four letters of the DataFrame name
    year_value = name[-4:]
    # Fill the "Year" column with the extracted value
    df['Year'] = year_value

In [4]:
# Concatenate the data frames vertically
combined_df = pd.concat(dfs, ignore_index=True)

In [5]:
combined_df.head(100)

,ASX Code,Security Group Code,Issuer Full Name,Product Description,Last Price($),Business Date,Year
0,AZZG,CNV,ANTARES ENERGY LIMITED ...,CBND 10.00% 10-23 3M,1.92,20150910,2017
1,CGNG,CNV,CRATER GOLD MINING LIMITED ...,CBND 10.00% 08-17 6M,20,20170411,2017
2,CGRG,CNV,CML GROUP LIMITED ...,CBND 9.00% 01-20 6M,1.12,20170608,2017
3,CTNG,CNV,CONTANGO MICROCAP LIMITED ...,CBND 5.50% 03-20 6M,100.25,20170630,2017
4,HGOG,CNV,HILLGROVE RESOURCES LIMITED ...,CBND 6.0% 12-19 6M,2.48,20170630,2017
...,...,...,...,...,...,...,...
95,HE8OA,COY OPT,HELIOS ENERGY LTD ...,OPTION 31-DEC-21,-,-,2017
96,HEGOC,COY OPT,HILL END GOLD LIMITED ...,OPTION 30-JUL-20,0.02,20170629,2017
97,HGOOA,COY OPT,HILLGROVE RESOURCES LIMITED ...,OPTION 21-SEP-17,0.051,20170630,2017
98,HMLO,COY OPT,HENRY MORGAN LIMITED ...,OPTION 31-AUG-18,0.82,20170609,2017
99,HMLOA,COY OPT,HENRY MORGAN LIMITED ...,OPTION 15-JUN-20 DEF,-,-,2017

In [6]:
combined_df.to_csv("combined_data.csv", index = False)